<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @investigate.customer_name %>
</p>

<p>
  <strong>Date of flag:</strong>
  <%= @investigate.date_of_flag %>
</p>

<p>
  <strong>Transaction amount:</strong>
  <%= @investigate.transaction_amount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @investigate.notes %>
</p>

<p>
  <strong>Customer id number:</strong>
  <%= @investigate.customer_id_number %>
</p>

<p>
  <strong>Open or closed:</strong>
  <%= @investigate.open_or_closed %>
</p>

<%= link_to 'Edit', edit_investigate_path(@investigate) %> |
<%= link_to 'Back', investigates_path %>
